/* .tagContent p {
    
    position: relative;
    top:120px;
     left: 20px;    
}
.tagContent p{
   
    background-color: rgba(193, 155, 71, 1); 
    border: none;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 7px;
    display: inline-block;
    border-radius: 30px;
}
.tagContent img{
    position: relative;
    left: 90px;
    bottom: -26px;
} */

/* body {
    font: 12px/1.5 'PT Sans', serif;
    margin: 25px;
  } */



.tags li {
  /* display: flex;
  align-items: center;*/
  float: left; 
  background: rgba(193, 155, 71, 1);
  border-radius: 30px;
  margin: 10px;
  /* position: relative;
  white-space: nowrap; */
  
}
.hideIcon{
  display: none;
}

/* .tags{
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;

} */


/* .tags li img {
  float: left;
} */

.tags li p {
  
  display: flex;
  align-items: center;
  padding: 7px;
  margin-top: 6px;
  color: #FFF;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  position: relative;
  left: 10px;
}

/* .tag li p img {
  margin-left: 33px;
} */


.tag {
  
  /* background: black; */
  border-radius: 20px;
  color: #999;
  /* display: inline-block; */
  height: 26px;
  /* line-height: 26px; */
  padding: 0 20px 0 23px;
  margin: 0 10px 10px 0;
  
  text-decoration: none;

  /* -webkit-transition: color 0.2s; */
}

/* .tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  } */

/* .tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  } */

.tag:hover {
  /* background-color: crimson; */
  color: white;
}

.tag:hover::after {
  border-left-color: crimson;
}