.allTask {
    margin-left: 480px;
    margin-top: 250px;
}

.allTask p {
    font-weight: 400;
    font-size: 14px;
    color: #053D38;;
    margin-top: -8px;
}

.allTask .taskDoing {
    margin-top: -18px;
}

.allTask .taskDoing .viewAll {
    margin-top: -5px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #A3CCAB;
}

.allTask h2 {
    color: #053D38;
    font-weight: 400;
    font-size: 36px;
    font-family: 'Inter';
}

.approveTask {
    margin-left: 880px;
    margin-top: -210px;
}

.approveTask p {
    font-weight: 400;
    font-size: 14px;
    color: #053D38;;
    margin-top: -8px;
}

.approveTask .taskDoing {
    margin-top: -18px;
}

.approveTask .taskDoing .viewAll {
    margin-top: -5px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: #A3CCAB;
}

.approveTask h2 {
    color: #053D38;
    font-weight: 400;
    font-size: 36px;
    font-family: 'Inter';
}

.assignPoint {
    margin-left: 480px;
    height: -20px;

}

.assignPoint h2 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 34px;
    color: #053D38;
}

.assignPoint .point p{
    margin-top: -21px;
}
.marblePoint{
    margin-left: 880px;
    margin-top: -210px;
}
.marblePoint h2 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 34px;
    color: #053D38;
}

.marblePoint .point p{
    margin-top: -21px;
}