.allTodoData li {
  font-weight: 400;
  font-size: 14px;
  color: #053D38;
  list-style: none;
}

.allTodoData h2 {
  color: #053D38;
  font-weight: 400;
  font-size: 20px;
  font-size: normal;
}

.todoviewbtn {
  margin-top: -90px;
  margin-left: 300px;
}

.allTodoData {
  width: 253px;
  height: 98px;
  margin-top: 190px;
  margin-left: 40px;
}