.allTodoData li {
  font-weight: 400;
  font-size: 12px;
  color: #053D38;
  list-style: none;
}

.allTodoData h2 {

  color: #053D38;
  font-weight: 400;
  font-size: 24px;
  font-size: normal;


}

.todoviewbtn {
  position: relative;
  top: -100px;
  font-size: 12px;
  margin-left: 300px;
}

.allTodoData {
  width: 253px;
  height: 98px;
  margin-top: 180px;
  margin-left: 12px;
}