.clearAllButton{
    color: #FFF;
    border-radius: 20px;
    padding-left:15px;
    padding-right: 15px; 
    padding-top: 5px;
    padding-bottom: 5px;
    left: 20px;
    position: fixed;
    bottom: 10px; /* Adjust as needed */
}