.hideIcon {
  display: none;
}

.tag {
  float: left;
  background: rgba(193, 155, 71, 1);
  border-radius: 30px;
}

.taglist {
  background: rgba(193, 155, 71, 1);
  float: left;
  border-radius: 20px;
  margin: 3px;
}

.taglist p {

  display: flex;
  align-items: center;
  padding: 2px;
  color: #FFF;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  left: 5px;
}

.tag {
  border-radius: 20px;
  color: #999;
  flex-shrink: 0;
}