.hideIcon {
  display: none;
}

.tag {
  float: left;
  background: rgba(193, 155, 71, 1);
  border-radius: 30px;
}

.taglist {
  background: rgba(193, 155, 71, 1);
  float: left;
  border-radius: 20px;
  margin: 5px;
}

.taglist p {

  display: flex;
  align-items: center;
  padding: 2px;
  /* margin-top: 6px; */
  color: #FFF;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  /* position: relative; */
  left: 5px;
}

.tag {
  border-radius: 20px;
  color: #999;
  /* height: 26px; */
  /* padding: 0 20px 0 23px;
    margin: 0 10px 10px 0; */
  /* width: 117px;
  height: 35px; */
  /* padding: 4px; */
  flex-shrink: 0;
}