.allCredentialData {
    justify-content: center;
    align-items: center;
    /* height: 30vh; */
}

.allinputField {
    width: 360px;
    height: 80%;
    margin-left: 50px;
    margin-top: 100px;

}

.allinputField input {
    margin-top: 5px;
    padding: 15px;
}

.allinputField h1 {
    margin-top: 30px;
    margin-left: 15px;
}

.userData h1 {
    color: #353D48;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.userData input {
    width: 315px;
    height: 45px;
    background-color: #EDEDED;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 50px;
    /* margin-top: 5px; */
    padding-left: 20px;


}

.mobileData p {
    position: relative;
    left: 20px;
    top: 10px;
}

.mobileData img {
    margin-left: 85px;
    position: relative;
    top: -5px
}

.mobileData input:focus {
    outline: none;
    border: 1px solid #EDEDED;
}

.mobileData input {
    position: relative;
    top: -28px;
    left: 97px;
    height: 5px;
    background-color: #EDEDED;
}

.mobile h1 {
    color: #353D48;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.mobile .mobileData {
    width: 315px;
    height: 45px;
    background-color: #EDEDED;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 50px;

    margin-top: 5px;
}