.allCredentialData{
    width: 360px;
    margin-left: 50px;
    margin-top: 100px;
}

.userFullName h1 {
    color: #353D48;
    /* font-family: 'Inter'; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;

}

.userFullName input {
    width: 315px;
    height: 45px;
    background-color: #EDEDED;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 50px;
    margin-top: 5px;
    padding-left: 20px;

}



.mobileNumber h1 {
    color: #353D48;
    /* font-family: 'Nunito'; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
    margin-top: 30px;

}

.mobileNumber input {
    width: 315px;
    height: 45px;
    background-color: #EDEDED;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 50px;
    margin-top: 5px;
    padding-left: 20px;



}

.birthDate h1 {
    color: #353D48;
    /* font-family: 'Nunito'; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
    margin-top: 30px;

}

.birthDate input {
    width: 315px;
    height: 45px;
    background-color: #EDEDED;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 50px;
    margin-top: 5px;
    padding-left: 20px;



}
.location h1 {
    color: #353D48;
    /* font-family: 'Nunito'; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
    margin-top: 30px;

}

.location input {
    width: 315px;
    height: 45px;
    background-color: #EDEDED;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 50px;
    margin-top: 5px;
    padding-left: 20px;



}

