.allTodoData h2 {

  color: #053D38;
  font-weight: 400;
  font-size: 34px;
  font-size: normal;

}

.allTodoData {
  margin-top: 240px;
  margin-left: 500px;
  overflow: auto;
  width: 320px;
  height: 160px;


}

.allTodoData::-webkit-scrollbar {
  width: 10px;
  height: 10px;

}

.allTodoData::-webkit-scrollbar-track {
  background: rgb(184, 209, 216);
  border: 3px solid rgb(184, 209, 216);
  border-radius: 20px;
}

.allTodoData::-webkit-scrollbar-thumb {
  background-color: rgba(43, 140, 167, 1);
  border-radius: 20px;
  border: 3px solid rgba(43, 140, 167, 1);
}


.allTodoData li {
  font-weight: 400;
  font-size: 14px;
  color: #053D38;
  list-style: none;
}