.allPasswordData {
    margin-top: 96px;
}

.newPasswordInput {
    text-align: center;
}

.allPasswordData input {
    width: 315px;
    height: 45px;
    background-color: #EDEDED;
    border-radius: 50px;
    padding: 20px;
}

.allPasswordData h1 {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin-left: 70px;
}
.rePassword{
    margin-top: 24px;
}
.rePasswordInput {
    text-align: center;
}



