.container{
    /* width: 100%; */
/* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: gainsboro; */
      /* background-color: rgba(0,0,0,0.5); */


}
.allCountryData{
    width: 299px;
   height: 80%;
   /* background: rgba(217, 217, 217, 0.60); */
   /* margin-left: 10px; */
   background-color: white;
   overflow: scroll;
   /* position: relative; */
   /* left: 60px; */
   /* text-align: center; */
   /* margin-top: 40px; */



   /* width: 80%; 
  max-width: 300px; 
  padding: 20px;
  border: 1px solid #000;
  text-align: center;
  box-sizing: border-box; */


}
.countrycode{
    margin-left: 80px;
}
.nameCode{
    margin: 10px;
   
}
.allCountryData li:hover{
    background-color: gainsboro;
}
