.showTasks {
    border-radius: 20px 20px 0px 0px;
    background-color: #D3D3D3;
    width: 90%;
    bottom: 0;
    right: 0;
    position: absolute;
}

.allTasks {
    margin-top: 70px;
}

.allTasks ul {
    position: relative;
    top: -35px;
}

.allTasks ul li {
    color: #FFF;
    margin-left: 50px;
    margin-top: 25px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.allTasks {
    animation: fadeIn 1s ease-in-out, changeHeight 1s ease-in-out forwards;
}

.allTasks .editTask:hover {
    color: #2B8CA7;
}

@keyframes fadeIn {
    0% {
        opacity: 0.30;
    }

    100% {
        opacity: 1;
    }
}

@keyframes changeHeight {
    0% {
        max-height: 0px;
    }

    100% {
        max-height: 157px;
    }
}