.settingHeader {
    height: 55px;
    border-radius: 0px 30px 30px 0px;
    background: #2B8CA7;
}

.settingHeader h1 {
    color: var(--white, #FFF);
    font-size: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.settingContent {
    margin-left: 38px;
    position: relative;
    top: 15px;

}