.heading h1 {
     color: #484848;
     width: 200px;
    font-size: 25px;
   /* font-style: normal; */
    font-weight: 600;
     /* line-height: normal; */
   margin-left: 200px;
   margin-top: 90px;
}