 .pointTask h2 {
     font-weight: 400;
     font-size: 34px;
     color: #053D38;
 }

 .point img {
     margin-left: 93px;
     margin-top: -16px;
 }

 .point p:first-child+p {
     margin-top: 7px;
 }

 .marblePointImage {
     margin-top: 18px;

     margin-top: 14px;
 }

 .allpoints img {
     margin-left: 26px;
     margin-top: -15px;

 }

 .allpoints {

     margin-left: -3px;
     font-size: 14px;

 }

 .pointTask {
     margin-left: 900px;
     margin-top: -161px;
     width: 400px;
 }