.imageContainer {
    height: 50px;
    margin-right: 30px;
}

.imageContainer img {
    border-radius: 50%;
}
.imageContainer img:nth-child(2){
    position: relative;
    left: 10px;
    top: -10px;
}
.imageContainer img:nth-child(3){
    position: relative;
    bottom: 60px;
    left: 20px;
   
}
