.Wrapper {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.SuggDropDownInput>input {
    width: 309px;
    border-radius: 50px;
    background-color: #EDEDED;
    height: 45px;
    padding-left: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.SuggDropDownInput img {
    position: relative;
    float: right;
    top: -40px;
    left: -10px;
}

.allOptionRender {
    border-radius: 10px;
    height: 170px;
    overflow-y: auto;
    position: relative;
    width: 319px;
    left: 13%;
    margin-top: -35px;
    


}
.allOptionRender::-webkit-scrollbar {
    width: 5px;
    height: 4px;
   
  }
  .allOptionRender::-webkit-scrollbar-thumb {
    background: #FFF; 
  }
  .allOptionRender::-webkit-scrollbar-track {
    background: #2B8CA7;
  }

.dropdownOption div {
    margin-top: 11px;
    color: #353D48;
    height: 70px;
    font-size: 14px;
    line-height: 30px;
    background-color: #EDEDED;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 50px;
    height: 45px;
    width: 309px;

}

.dropdownOption span {
    top: -25px;
    position: relative;
    padding-left: 20px;
}

.dropdownOption img {
    margin-top: -21px;
    
}