 .nextButton {
     width: 400px;
     display: flex;
     height: 70px;
     justify-content: center;
     align-items: center;
     gap: 10px;
     flex-shrink: 0;
     border-radius: 50px;
     background: #2B8CA7;
     position: absolute;
     margin-top:400px;
     margin-left: 40px;
 }

 .nextButton button {
     color: #FFF;
     font-size: 14px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     /* margin: 20px; */
     height: 27px;
 }