.sidebar {
  height: 685px;
  width: 320px;
  background-color: rgba(52, 103, 92, 1);
  border-radius: 0px 75.5px 75.5px 0px;
  position: relative;
  position: fixed;
  display: flex;
  top: 0px;


}

.sidebarHeading {
  color: white;
  font-size: 24px;
  position: relative;
  top: 58px;
  left: 33px;
  width: 50px;
}

.sidebarMenu {

  color: white;
}

.allMenu {
  margin-top: 150px;
  margin-left: -17px;

}

.sidebarMenu p {
  margin-bottom: 24px;
}

.sidebarMenu img {
  position: relative;
  left: 170px;
  bottom: 42px;
}