.sidebar{
    height: 685px;
    width: 320px;
    background-color: rgba(52, 103, 92, 1);
    border-radius: 0px 75.5px  75.5px 0px ;
    position: absolute;
    top:0px;
    left: 0px;
  }
  .sidebarHeading{
    color: white;
    font-size: 20px;
    position: relative;
    top:40px;
    left:44px;
    font-family: 'Inter';
  }
  .sidebarMenu{
    margin-left: 60px;
    color: white;
    }
  .allMenu{
    margin-top: 90px;
    margin-left: -17px;
    
  }
  .sidebarMenu img{
    position: relative;
    left: 170px;
    bottom:32px;
  }
