.allTagsData h1 {
    color: #14140F;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 10%;
    width: 90%;

}

.allTagsData {
    margin-top: 40px;
}
.allTags{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.allTags ul{
    /* width: 80%; */
    margin-left: 35px;
}

.allTags li {
    float: left;
    /* margin-left: 40px; */
    margin-top: 8px;
    border-radius: 20px;
    padding: 7px;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
  }
  
  .tags li {
    float: left; 
  }
  
  .tag {
    background: rgba(193, 155, 71, 1);
    border-radius: 3px 0 0 3px;
    color: #FFF;
    display: inline-block;
    /* height: 26px; */
    line-height: 26px;
    padding: 5px 20px 5px 20px;
    position: relative;
    border-radius: 20px;
    margin: 0 10px 10px 0;
  }