.sidebar {
  height: 678px;
  width: 320px;
  background-color: rgba(43, 140, 167, 1);
  border-radius: 0px 75.5px 75.5px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.sidebarHeading {
  color: #FFF;
  font-size: 20px;
  position: relative;
  top: 40px;
  left: 44px;
  font-family: 'Inter';
}

.sidebarMenu {
  margin-left: 60px;
  color: #FFF;
}

.sidebarMenu p {
  margin-top: 30px;
}

.allMenu {
  margin-top: 90px;
  margin-left: -17px;

}

.sidebarMenu img {
  position: relative;
  left: 170px;
  bottom: 20px;
}