.sidebar {
  height: 678px;
  /* width: 320px; */
  background-color: rgba(43, 140, 167, 1);
  /* border-radius: 0px 75.5px 75.5px 0px; */
  position: fixed;
  top: 0px;
  left: 0px;
  transition: width 1s, height 1s;
}

.sidebarHeading {
  color: #FFF;
  font-size: 20px;
  position: relative;
  top: 40px;
  left: 44px;
  font-family: 'Inter';
}

.sidebarMenu {
  margin-left: 60px;
  color: #FFF;
}

/* .sidebarMenu p {
  margin-top: 20px;
  font-size: 16px;
} */
.sidebarText {
  margin-top: 20px;
  font-size: 16px;
  display: block;
}

.allMenu {
  margin-top: 90px;
  margin-left: -17px;

}

.sidebarTextHide {
  display: none;
}

/* .sidebarMenu img {
  position: relative;
 left: 170px;
  bottom: 20px; 
}*/
.sidebarIcon {
  position: relative;
  left: 170px;
  bottom: 20px;
}
.sidebarIconHide{
  /* left: 0px; */
  margin-top: 50px;

}