.avatarData {
  height: 180px;
  padding: 5px;
  width: 970px;
  background-color: rgba(52, 103, 92, 1);
  border-radius: 107.5px 0px 0px 107.5px;
  top: 20px;
  right: 0px;
  position: fixed;
  display: flex;
}

.avatarData h2 {
  color: white;
  font-size: 18px;
  margin-top: 130px;
  margin-left: -38px;
}

.avatarData img {
  position: relative;
  left: 50px;
  top: 23px;
  border: 2px solid white;
  border-radius: 50%;

}

.avatarData p {
  margin-left: 350px;
  margin-top: -100px;
  position: relative;
  font-size: 30px;
  font-weight: 8px;
  color: white;
  font-family: 'Inter';
}

.avatarData pre {
  margin-left: 80px;
  margin-top: 13px;
  position: relative;
  color: white;
  font-family: 'Inter';
  font-size: 13px;

}  

.allButton {
  margin-left: -450px;
  margin-top: 120px;
}

.avatarData span {

  font-family: 'Inter';
  position: relative;
  top: -60px;
  left:5px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #A3CCAB;
}
.allSlider{
  margin-top: -30px;
  margin-left: 37px;
}