.userNotification h1 {
    width: 218px;
    color: #14140F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    margin-left: 35px;
}
.userNotification img{
    /* margin-top: 10px; */
    border-radius: 42px;
    margin-left: 25px;

}

.userNotification {
    margin-top: 15px;
    width: 100%;
    position: relative;
    top:20px;
}




.userNotification li:hover{
    background-color: #D3D3D3;
} 