.avatarData h2 {
  color: white;
  font-size: 20px;
  position: relative;
  left: 70px;
  bottom: -50px;
}

.avatarData img {
  position: relative;
  left: 15px;
  top: 15px;
  border: 2px solid white;
  border-radius: 50%;
}

.headerwidth {
  width: 100%;
}

.homeHeader {
  top: 0px;
  right: 0px;
  position: fixed;
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(43, 140, 167, 1);

}

.secondManage {
  top: 0px;
  right: 0px;
  position: fixed;
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(43, 140, 167, 1);
}